body{
    width: 1010px;
}
.testata{
    background-color: blue;
    background-image: url(../img/pattern.png);
    background-size: 40%;
    height: 100px;
    width: 1000px;
    position: relative;
}

.logo{
    width: 10rem;
    position: absolute;
    bottom: 15%;
}

.soft-grey{
    color: rgb(154, 154, 154);
}
.light-blu{
    color: rgb(16, 244, 244);
}
.dark-blu{
    background-color: rgb(17, 17, 228);
    color: white;
}
.celeste{
    background-color: aqua;
}
.display{
    background-image: url(../img/monitor.jpg);
}
.grafico{
    background-image: url(../img/graph.jpg);
}
.foto{
    width: 312px;
    height: 208px;
    color: white;
    font-size: 30px;
}
table{
    border-spacing: 0;
}
.tabelle-spazio{
    padding-left: 10rem;
}