body{
    width: 1010px;
}
.testata{
    background-color: blue;
    background-image: url(../img/pattern.png);
    background-size: 40%;
    height: 100px;
    width: 1000px;
    position: relative;
}

.logo{
    width: 10rem;
    position: absolute;
    bottom: 15%;
}

.soft-grey{
    color: rgb(154, 154, 154);
}
.light-blu{
    color: rgb(16, 244, 244);
}